# Environment files
.env
.venv
docker-compose.override.yml

# Common dev db files
*.db
*.sqlite
*.sqlite3

# Test files
.coverage

# Keep our local static folder out of version control
frontend/demo_backend_static
